:root{
    --gray-color:#2F303A;
    --white-color:#fff;
    --blue-color:#2196F3;
    --darkwhite-color:#F5F4FA;
}

header{
    background-color: var(--white-color);
a{color: #212121;}
  
}

body{
    background-color: var(--white-color);
}
footer{
    background-color: var(--gray-color);

    a{
        color:var(--white-color)
    }
    
}
.textlogo{
    background-color: var(--blue-color);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 100%;
background-image: linear-gradient(90deg,#fff 40%
);
font-size: 26px;
}
#first {
    color: var(--blue-color);
}